
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: rgb(217, 217, 217);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(0, 115, 188);
  flex-wrap: wrap;
  min-height: 4vh;

}

nav #logo {
    max-height: 4rem;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
}

nav ul li {
    padding:0em 1em;
    font-size: 1em;
}

nav ul li a{
    text-decoration: none;
    color: rgb(231, 201, 81);

}

nav ul li a:hover{
    color:rgb(255, 92, 56);
}

.text {
    font-family: "Odin", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.container {
}

.showcase {
    height: 90vh;
    
}

.firstSection{
    margin: 2em;
    display:flex;
    border-radius: 1px;
    border: rgb(42,42,46) solid;
    -moz-box-shadow: 2px 2px 2.5px 0px #656565;
    -webkit-box-shadow: 2px 2px 2.5px 0px #656565;
    -o-box-shadow: 2px 2px 2.5px 0px #656565;
    box-shadow: 2px 2px 2.5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2.5);
}

.showcase{

}

.Nord-img{
    background-image: url("../img/merNord.jpg");
    border-right: rgb(42,42,46) solid;
    border-radius: 1px;
    width: 33.3%;
    background-size: cover;
    background-position: center;

}

.Sud-img{
    background-image: url("../img/merSud.jpg");
    background-position: 50%;
    border-right: rgb(42,42,46) solid;
    border-radius: 1px;
    width: 33.3%;
    background-size: cover;
    background-position: center;

}

.West-img{
    background-image: url("../img/merOuest.jpg");
    width: 33.4%;
    background-size: cover;
    background-position: center;
}

.secondSection{
    display: flex;
    margin: 2em;

    height: 60vh;
    background-color: #cfcccc;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2.5px 0px #656565;
    -webkit-box-shadow: 2px 2px 2.5px 0px #656565;
    -o-box-shadow: 2px 2px 2.5px 0px #656565;
    box-shadow: 2px 2px 2.5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2.5);
}

.image-surfer{
    width: 30%;
    background-image: url("../img/surfer.jpeg");
    background-size: cover;
    background-position: center;
}

.texte-surfer{
    width: 70%;
    color :rgb(42,42,46);

}



.texte-surfer .grospadding-titre{
    margin-left: 4%;
    margin-top: 2%;
}

.grospadding-text{
    margin-left: 6%;
    margin-top: 2%;
    height: 100%;
}

.texte-surfer .grospadding-text .text{
    font-size: 10px;
}